.container {
    border: 10px solid powderblue;
    background-color: powderblue;
    padding: 10px;
    box-shadow: 50px;
    max-width: 600px;
    


        text-align: center;
      }
      li {
        list-style: none;
        margin: 15px;
      }
  